<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wq.mapper.DepartmentMapper">
	  
    <resultMap type="department" id="adminDeptResultMap">
        <!-- 主表的映射 department -->
        <id column="dept_id" property="deptId" />
        <result column="dept_name" property="deptName" />
        <!-- 一对一关系的从表Admin association : 用于多对一，一对一，那个一的映射 property : Department对象里面新加的那个admin的属性名称 
            javaType : 属性的类型 -->
        <association property="admin" javaType="admin">
            <id column="dept_id" property="deptId" />
            <result column="name" property="name" />
        </association>
    </resultMap>


    <!-- 一对一的查询 方式 二 -->
    <select id="getDepartmentTypeTwo" resultMap="adminDeptResultMap">
        select d.dept_id,
        d.dept_name, a.name
        from admin a inner join department d on
        a.dept_id=d.dept_id
    </select>
    
    <!-- ============================================================ -->
    <!-- 一对多 -->
    
     <!-- deprarment为主表 -->
    <resultMap type="department" id="departmentempMap">
        <id property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
        <!-- 从表 ,是一个集合,用collection-->
       <collection property="emp" ofType="employee">
        <id column="emp_id" property="empId"/>
        <result column="emp_name" property="empName"/>
       </collection>
    </resultMap>
    <select id="getDepartmentEmp" resultMap="departmentempMap">
        select  d.dept_id ,d.dept_name,e.emp_id,e.emp_name 
        from department d inner join employee e on d.dept_id=e.dept_id;
    </select>
    
</mapper>